
	.container {
		background-color: gray;
	}
	div > div {
		font-size: 2rem;
	}
	div.dead {
		color: red;
		font-weight: bold;
	}
	div.old {
		color: green;
	}
	.mid {
		color: orange;
	}
	.young {
		color: blue;
	}
	.new {
		color: pink;
	}

	.container {
		background-color: darkgray;
	}
