---
import Hero2436 from '../components/hero2436.html'
export let topper, title, description, buttonText, buttonLink
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Export Let Demo</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <Hero2436 topper={topper} title={title} description={description} buttonText={buttonText} buttonLink={buttonLink} />
</body>
</html>